###
### NAMESPACE
###

import(methods, mvtnorm, mgcv, ncvreg, stats)
importFrom(dplyr, tibble)
importFrom(glasso, glassopath)
importFrom(glmnet, glmnet, cv.glmnet)
importFrom(intervals, Intervals, interval_overlap)
importFrom(Matrix, Matrix, colMeans, sparseMatrix, t)
importFrom(mclust,Mclust,mclustBIC,priorControl)
importFrom(sparseMatrixStats, colQuantiles)
importFrom(survival, Surv, coxph)
importFrom("utils", "combn")
importFrom(Rcpp, evalCpp)
importFrom(pracma, pinv)

importFrom("graphics", "lines")
importFrom("grDevices", "devAskNewPage")

useDynLib(mombf, .registration=TRUE)

export(bbPrior)
export(aic, bic, bicprior, ic)
export(bestAIC, bestBIC, bestEBIC, bestIC)
export(bfnormmix)
S3method(coef,icfit)
S3method(coef,mixturebf)
S3method(coef,msfit)
S3method(coef,msfit_ggm)
S3method(coef,cilfit)
S3method(coef,localtest)
S3method(confint, icfit)
export(coefByModel)
export(binomPrior)
export(dalapl,ddir,demom,dimom,dmom,dmomigmarg,demomigmarg,diwish,dpostNIW)
export(emomprior,groupemomprior)
export(eprod)
export(exponentialprior)
export(getAIC, getBIC, getEBIC, getIC)
export(icov)
export(igprior)
export(imombf)
S3method(imombf,lm)
export(imomknown,imomprior,imomunknown,groupimomprior)
export(localnulltest, localnulltest_fda, localnulltest_givenknots, localnulltest_fda_givenknots)
export(marginalNIW)
export(modelbbprior, modelbinomprior, modelcomplexprior, modelunifprior)
export(modelsearchBlockDiag)
export(modelSelection)
export(modelSelectionGGM)
export(mombf)
S3method(mombf,lm)
export(momknown,momprior,momunknown,groupmomprior)
export(nlpMarginal)
export(palapl,pemom,pemomigmarg,pimom,pmom,pmomigmarg)
export(pimomMarginalK, pimomMarginalU, pmomMarginalK, pmomMarginalU)
export(plotprior)
S3method(plot,msfit)
S3method(plot,msfit_ggm)
export(postProb,postSamples)
export(postModeOrtho, postModeBlockDiag)
S3method(predict,icfit)
S3method(predict,msfit)
S3method(predict,localtest)
export(priorp2g)
export(qimom, qmom)
S3method(summary, icfit)
export(ralapl, rnlp, rpostNIW)
export(unifPrior)
export(zellnerprior,groupzellnerprior)
export(normalidprior)
export(cil)

#exportClasses("msPriorSpec")
