###
### NAMESPACE
###

import(bayesm, methods, mvtnorm, mgcv, ncvreg, stats)
importFrom(matrixStats,rowMaxs)
importFrom(mclust,Mclust,mclustBIC)
importFrom(survival, Surv, coxph)
importFrom("utils", "combn")

useDynLib(mombf, .registration=TRUE)

export(bbPrior)
export(binomPrior)
export(dalapl,demom,dimom,dmom,diwish,dpostNIW)
export(emomLM,emomPM,emomprior)
export(eprod)
export(g2mode)
export(igprior)
export(imombf)
S3method(imombf,lm)
export(imomknown,imomprior,imomunknown)
export(marginalNIW)
export(mode2g)
export(modelbbprior)
export(modelbinomprior)
export(modelsearchBlockDiag)
export(modelSelection)
export(modelunifprior)
export(mombf)
S3method(mombf,lm)
export(momknown,momprior,momunknown)
export(bfnormmix)
export(nlpMarginal)
export(palapl,pemom,pimom,pmom)
export(pimomMarginalK)
export(pimomMarginalU)
export(pmomLM)
export(pmomMarginalK)
export(pmomMarginalU)
export(pmomPM)
export(postProb)
export(postModeOrtho)
export(postModeBlockDiag)
export(pplPM)
export(ppmodel)
export(priorp2g)
export(qimom)
export(qmom)
export(ralapl, rnlp, rpostNIW)
export(unifPrior)
export(zbfknown)
export(zbfunknown)
export(zellnerbf)
S3method(zellnerbf,lm)
export(zellnerprior)

#exportClasses("msPriorSpec")

